<form action="/calculate">
	<input type="number" value="<%= @saved_number %>" name="first_number" placeholder="First Number">
	<input type="number" name="second_number" placeholder="Second Number">

	<button type="submit" name="operation" value="add">Add</button>
	<button type="submit" name="operation" value="div">Divide</button>
	<button type="submit" name="operation" value="sub">Subtract</button>
	<button type="submit" name="operation" value="mult">Multiply</button>
</form>